.main-tienda {
    font-family: $fontTruculenta;
    font-weight: 500;
    background-color: $clrPrincipal;
    padding: 16px;
    min-width: 90%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    grid-template-areas:
        "titulo titulo"
        "filtros tienda"
        "carrito tienda";

    @include mediaquerie5{
        display: flex;
        flex-direction: column;
    }

    .titulo {
        grid-area: titulo;
        font-weight: 700;
        font-size: 24px;
    }

    .filtros {
        grid-area: filtros;
        display: flex;
        flex-direction: column;
        width: 100%;
        
        h2{
            font-weight: 700;
            font-size: 22px;
        }
        button {
            background: $clrPrincipal;
            color: $clrAzul;
            border: none;
            font-weight: 700;
            font-size: 22px;
            line-height: 30px;
            width: 100%;
            text-align: start;
            padding-left: 15px;
            // &:hover {
            //     font-family: $fontBecome, $fontBecome2, $fontCookie;
            //     font-style: italic;
            //     font-size: 24px;
                
            //     font-weight: 900;
            // }
            &:hover {
                text-decoration: underline;
            }

            &.active{
                font-family: $fontBecome, $fontBecome2, $fontCookie;
                font-style: italic;
                font-size: 1.6rem;
                font-weight: 900;
            }
            &.active:hover{
                text-decoration: none;
            }
        }
    }

    .tienda {
        grid-area: tienda;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 16px;

        .tienda-item {
            background: $clrSecundario;
            border: 3px solid $clrAzul;
            border-radius: 5px;
            width: 240px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 5px;

            @include mediaquerie4 {
                width: 220px;
                height: 280px;
            }

            .titulo-producto {
                font-size: 22px;
                font-weight: 700;
                @include mediaquerie4 {
                    font-size: 20px;
                }

            }

            .subtitulo-producto {
                font-size: 18px;
                font-weight: 700;
                display: flex;
                flex-wrap: wrap;

            }

            .imagen-aceite {
                max-width: 40px;
            }

            .imagen-producto {
                max-width: 80px;

                @include mediaquerie4 {
                    max-width: 60px;
                }
            }

            button {
                width: 100%;
                font-weight: 700;
                background-color: $clrPrincipal;
                color: $clrAzul;
                border: 2px solid $clrAzul;
                border-radius: 5px;

                &:hover {
                    background-color: $clrAzul;
                    color: $clrPrincipal;
                }
            }

            // }

            &:hover {
                box-shadow: -1px -1px 10px $clrGris,
                    1px -1px 10px $clrGris,
                    -1px 1px 10px $clrGris,
                    1px 1px 10px $clrGris;

                .subtitulo-producto {
                    font-weight: 800;
                }

                .producto-overlay {
                    transform: translateY(0%);
                }

            }
        }


    }

    .carrito {
        grid-area: carrito;
        display: flex;
        flex-direction: column;

        h2 {
            font-size: 22px;
            font-weight: 700;
        }

    }
}

.toastify .toast-close {
    color: $clrAzul;
    opacity: 1;
}
.swal2-popup {
    color: $clrAzul;
    background: $clrSecundario;
}
.swal2-cancel {
    color: $clrSecundario;
}
.swal2-icon-content {
    color: $clrAzul;
}
.swal2-popup .swal2-icon {
    border: 4px solid $clrAzul;
}
.swal2-confirm {
    background: $clrAzul;
    color: $clrSecundario;
}
$productos: (
    aceite-oliva: $clrOliva,
    aceite-uva: $clrUva,
    aceite-girasol: $clrGirasol,
    producto-regional: $clrGris
);

@each $producto, $color in $productos {
    .#{$producto} .titulo-producto {
        text-shadow:
            -0.5px -0.5px 0 $color,
            0.5px -0.5px 0 $color,
            -0.5px 0.5px 0 $color,
            0.5px 0.5px 0 $color;
    }

    .imagen-#{$producto} {
        filter: drop-shadow(8px 8px 4px $color);
    }
}