body {
    background-color: $clrPrincipal;

    &::-webkit-scrollbar {
        width: 6px;
        height: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: $clrAzul;
        border-radius: 4px;

        &:hover {
            background: $clrGris;
        }
    }

    &::-webkit-scrollbar-track {
        background: $clrPrincipal;
    }
}
a{
    text-decoration: none;
}

// h1,h2{
//     font-size: 22px;
//     font-weight: 700;
// }