header {
    // border-bottom: 2.5px solid $clrAzul;
    background: $clrPrincipal;
    padding: 5px 32px;

    .navbar {
        font-size: 1.5rem;
        font-family: $fontTruculenta;
        padding: 0;
        margin: 0;
        min-width: 95%;

        .img-logo {
            width: 120px;
            height: 100%;

            @include mediaquerie5 {
                width: 100px;
                height: 100%;
            }
        }

        .boton-navbar {
            border: solid $clrAzul;

            &:focus {
                outline: none;
                box-shadow: none;
            }

            .navbar-toggler-icon {
                background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(24, 27, 52, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22" /%3E%3C/svg%3E');
            }
        }

        .collapse {
            max-width: 550px;

            @include mediaquerie4 {
                max-width: none;
            }
        }

        .menu {
            width: 100%;
            justify-content: space-between;
            margin: 0 0 2px 0;

            li {
                text-align: center;

                .nav-link {
                    position: relative;
                    color: $clrAzul;
                    font-weight: bold;
                    line-height: 1.9rem;

                    @include mediaquerie4 {
                        text-align: start;
                        margin-left: 16px;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        transform: scaleX(0);
                        height: 2px;
                        bottom: 0;
                        left: 0;
                        background-color: $clrAzul;
                        transform-origin: bottom left;
                        transition: transform 0.6s ease-out;
                    }

                    &:hover:after {
                        transform: scaleX(1);
                    }
                }

                .carrito-nav-link {
                    position: relative;
                    display: inline-block;
                    font-weight: 900;
                    max-width: 60px !important;
                    text-shadow:
                        -0.25px -0.25px 0 $clrAzul,
                        0.25px -0.25px 0 $clrAzul,
                        -0.25px 0.25px 0 $clrAzul,
                        0.25px 0.25px 0 $clrAzul;
                    font-size: 1.5rem;
                    line-height: 1.5rem;

                    .contador-carrito {
                        width: 20px;
                        height: 20px;
                        background: $clrAzul;
                        color: $clrPrincipal;
                        border-radius: 100%;
                        font-size: 14px;
                        font-weight: 300;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: -4px;
                        right: -4px;
                    }
                }

            }

            .li-sobrenosotros {
                min-width: 175px;
            }

            .li-aceites,
            .li-tienda,
            .li-contacto {
                min-width: 120px;
            }

            .li-carrito {
                max-width: 60px;
            }

            .nav-link.active {
                color: $clrAzul;
                font-family: $fontBecome, $fontBecome2, $fontCookie;
                font-style: italic;
                font-size: 1.8rem;
                font-weight: 900;

                @include mediaquerie4 {
                    width: 135px;
                    margin-left: 16px;
                    padding: 0;
                    display: flex;
                    text-align: start;

                }

                &:hover:after {
                    transform: scaleX(0);
                }
            }

            .carrito-nav-link.active {
                font-style: normal;
                font-family: $fontTruculenta;
                background: $clrAzul;
                color: $clrPrincipal;
                border-radius: 5px;

                // transform: rotate(-10deg);
                .contador-carrito {
                    background: $clrPrincipal;
                    color: $clrAzul;
                    border: 2px solid $clrAzul;
                }

            }
        }
    }
}